<%- include('./partials/header.ejs') %>





    <section id="as">

        <div class="container d-flex flex-column mt-auto">

            <a class="btn btn-block btn-dark" href="/admin/addBlog">Add Blog</a>
            <a class="btn btn-block btn-dark" href="/admin/deleteBlog">Delete Blog</a>
            <a class="btn btn-block btn-dark" href="/admin/seeMessages">See Messages</a>



        </div>



    </section>






    <%- include('./partials/footer.ejs') %>