<%- include('./partials/header.ejs') %>




    <script type="text/javascript" src="https://d33t3vvu2t2yu5.cloudfront.net/tv.js"></script>

    <section id="cht">
        <div class="container mt-4">


            <div class="accordion" id="accordionExample">
                <div class="card">
                    <div class="card-header" id="headingOne">
                        <h2 class="mb-0">
                            <button class="btn btn-dark btn-block text-center collapsed" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        Bitcoin Graph
                      </button>
                        </h2>
                    </div>

                    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                        <div class="card-body">
                            <!-- TradingView Widget BEGIN -->
                            <div class="chartContainer">
                                <script type="text/javascript">
                                    new TradingView.widget({
                                        "autosize": true,
                                        "symbol": "COINBASE:BTCUSD",
                                        "interval": "D",
                                        "timezone": "Etc/UTC",
                                        "theme": "Black",
                                        "style": "1",
                                        "locale": "en",
                                        "toolbar_bg": "rgba(0, 0, 0, 1)",
                                        "hide_top_toolbar": true,
                                        "save_image": false,
                                        "hideideas": true
                                    });
                                </script>
                            </div>
                            <!-- TradingView Widget END -->
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header" id="headingTwo">
                        <h2 class="mb-0">
                            <button class="btn btn-dark btn-block text-center collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                        Ethereum Graph
                      </button>
                        </h2>
                    </div>
                    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                        <div class="card-body">
                            <div class="chartContainer">
                                <script type="text/javascript">
                                    new TradingView.widget({
                                        "autosize": true,
                                        "symbol": "COINBASE:ETHUSD",
                                        "interval": "D",
                                        "timezone": "Etc/UTC",
                                        "theme": "Black",
                                        "style": "1",
                                        "locale": "en",
                                        "toolbar_bg": "rgba(0, 0, 0, 1)",
                                        "hide_top_toolbar": true,
                                        "save_image": false,
                                        "hideideas": true
                                    });
                                </script>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header" id="headingThree">
                        <h2 class="mb-0">
                            <button class="btn btn-dark btn-block text-center collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                        DASH Graph
                      </button>
                        </h2>
                    </div>
                    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                        <div class="card-body">
                            <div class="chartContainer">
                                <script type="text/javascript">
                                    new TradingView.widget({
                                        "autosize": true,
                                        "symbol": "COINBASE:DASHUSD",
                                        "interval": "D",
                                        "timezone": "Etc/UTC",
                                        "theme": "Black",
                                        "style": "1",
                                        "locale": "en",
                                        "toolbar_bg": "rgba(0, 0, 0, 1)",
                                        "hide_top_toolbar": true,
                                        "save_image": false,
                                        "hideideas": true
                                    });
                                </script>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header" id="headingFour">
                        <h2 class="mb-0">
                            <button class="btn btn-dark btn-block text-center collapsed" type="button" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                        EOS Graph
                      </button>
                        </h2>
                    </div>
                    <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordionExample">
                        <div class="card-body">
                            <div class="chartContainer">
                                <script type="text/javascript">
                                    new TradingView.widget({
                                        "autosize": true,
                                        "symbol": "COINBASE:EOSUSD",
                                        "interval": "D",
                                        "timezone": "Etc/UTC",
                                        "theme": "Black",
                                        "style": "1",
                                        "locale": "en",
                                        "toolbar_bg": "rgba(0, 0, 0, 1)",
                                        "hide_top_toolbar": true,
                                        "save_image": false,
                                        "hideideas": true
                                    });
                                </script>
                            </div>
                        </div>
                    </div>
                </div>
            </div>







        </div>

    </section>



    <%- include('./partials/footer.ejs') %>