<%- include("./partials/header.ejs") %>

    <!-- Presentation Section -->

    <section id="intsec" data-aos="fade-down">
        <div class="container text-center">
            <h4 class="mt-4 color-text">Professional Mentoring & Education for Traders since 2021​</h4>
            <p class="mt-4">Skyrocket your portfolio with personalized trading strategies, 24/7 team support, exclusive webinars, daily market reports by certified analysts, and much more…</p>
            <img class="mt-4 w-100" src="http://via.placeholder.com/800x300" alt="">
        </div>
    </section>

    <section id="psl" data-aos="fade-up">
        <div class="container">
            <div class="row d-flex justify-content-center">

                <div class="col-md-5">
                    <img class="w-100" src="http://via.placeholder.com/500x500" alt="">
                </div>

                <div class="col-md-7">

                    <div>
                        <h3 class="color-text-header">WORLD CLASS ANALYSTS AT YOUR SERVICE</h3>
                        <p class="mt-4 ">14 international market experts will guide you step by step on how to optimize your trades and supercharge your profits.</p>
                    </div>

                    <div>
                        <h4 class="color-text-header">24/7 team support</h4>
                        <p class="mt-4 ">Our experienced team works across all timezones so you’ll never be alone with your trading decisions. Beginner-friendly!</p>
                    </div>
                    <div>
                        <h4 class="color-text-header">High-end trading consultations</h4>
                        <p class="mt-4 ">On your private strategy sessions you’ll learn how to trade forex, what drives price of bitcoin, wealth & risk management, personalized trading systems and more so you can trade your way to financial freedom.</p>
                    </div>
                    <div>
                        <h4 class="color-text-header">Verified qualifications</h4>
                        <p class="mt-4 ">Don’t waste your time (and money) on unreliable sources. Discover invaluable know-hows from certified technical analysts, accredited PhD psychologists, mindset trainers and blockchain experts who will save you $.</p>
                    </div>



                </div>


            </div>

        </div>
    </section>

    <!-- Presentation Section -->

    <section id="psr" data-aos="fade-up">
        <div class="container">
            <div class="row d-flex justify-content-center">

                <div class="col-md-7">

                    <div>
                        <h3 class="color-text-header">SHOCKING 89% OF TRADERS LOSE MONEY</h3>
                        <p class="mt-4 ">Got tricked by the market too? Trends are often full of traps, fake signals and overwhelming uncertainty for unskilled traders. Start earning big figures with automated, custom indicator-based signals and time-saving scanners.
                            Subscribe for less than a Starbucks Coffee a day and we’ll give you:</p>
                    </div>

                    <div>
                        <h4 class="color-text-header">Tip-of-the-spear custom indicator-based signals</h4>
                        <p class="mt-4 ">Maximize your profits with automated signals based on unique combinations of trend, momentum and volume indicators that CryptoBirb used to predict market reversals of bitcoin in 2018, 2019, and 2020.</p>
                    </div>
                    <div>
                        <h4 class="color-text-header">Approved money-making strategies</h4>
                        <p class="mt-4 ">Fully optimized trading strategy is the holy grail for every serious investor. Save months of research and find your premium system that will make you a bank. Simple.</p>
                    </div>
                    <div>
                        <h4 class="color-text-header">Top-end market scanner</h4>
                        <p class="mt-4 ">Want to know what to buy on crypto or sell on forex but too little time to study boring books and long webinars? We’ll get you integrated market scanner so that you can decide in a few seconds which currency or stock to invest
                            in today.</p>
                    </div>



                </div>

                <div class="col-md-5">
                    <img class="w-100" src="http://via.placeholder.com/500x500" alt="">
                </div>

            </div>

        </div>
    </section>
    <!-- Speaking Section -->

    <section id="ss" data-aos="zoom-in">
        <div class="container text-center">
            <p class="color-text font-weight-bold" style="font-size: 30px;">Ok, stop right here for a second.</p>
            <p class="color-text" style="font-size:18px">You might be thinking:</p>
            <p class="color-text font-weight-bold" style="font-size: 25px;">Will this trading school earn me enough to quit my job and focus on my family?</p>
            <p class="color-text" style="font-size: 18px;">or</p>
            <p class="color-text font-weight-bold" style="font-size:25px;">Are their crypto indicators going to make me big money fast?</p>
            <p class="color-text font-weight-bold" style="font-size: 18px;">Well, let me explain, because what you’re about to hear may be shocking.</p>
            <p class="color-text" style="font-size: 18px;">None of that stuff will make you rich. None of it. Want to know why?</p>
            <p class="color-text font-weight-bold" style="font-size: 18px;">Even the best trading system will not earn you a penny if you don’t know how to use it.</p>
            <p class="color-text" style="font-size: 18px;">We can’t promise you’ll win millions.</p>
            <p class="color-text" style="font-size: 18px;">But we’ll give you everything you need to make it happen.</p>
            <p class="color-text-shadow font-weight-bold" style="font-size: 38px">"THE BEST INVESTMENT YOU CAN MAKE,</p>
            <p class="color-text-shadow font-weight-bold" style="font-size: 38px">IS AN INVESTMENT IN YOURSELF.</p>
            <p class="color-text-shadow font-weight-bold" style="font-size: 38px">THE MORE YOU LEARN,</p>
            <p class="color-text-shadow font-weight-bold" style="font-size: 38px">THE MORE YOU'LL EARN."</p>
            <p class="color-text-shadow" style="font-size: 25px">~ WARREN BUFFETT ~</p>
        </div>





    </section>
    <!-- Ceo Message Section-->


    <section id="cmsg" data-aos="fade-down">
        <div class="container">
            <h3 class="color-text-header text-center cmsg">LEARN YOUR FINANCIAL FREEDOM IN COVID-19 PANDEMIC</h3>
            <div class="row d-flex justify-content-center">

                <div class="col-md-5">
                    <img class="w-100" src="http://via.placeholder.com/500x500" alt="">
                </div>

                <div class="col-md-7">

                    <div>
                        <p>Dear Friend, <br> Welcome. <br>I’m Adrian, Founder and CEO of The Birb Nest. <br>You may also know me as CRYPTOBIRB. <br>Let’s be honest. <br>You are on this website because you want to make money during this pandemic, not hear
                            my story. If you are interested to hear it (I am honored), please go here. But here’s the short version. <br>Four years ago we were witnessing the most spectacular boom in crypto market. The need for an educational and trading
                            hub became more necessary than ever. That was when I started The Birb Nest. <br>Since then, my team and reputation have been growing rapidly, along with our accurate market projections. Presently, with 14 top analysts and traders,
                            we educate hundreds of our community members on how to make the right choices in the market. Our vision is to become industry leaders by participating in civilizational revolution offered by emerging digital economies.
                            <br>I look forward to helping you learn your way to financial freedom,</p>
                    </div>



                </div>


            </div>

        </div>
    </section>
    <!-- TIMELINE Section -->
    <section id="tms" data-aos="fade-down">
        <div class="container">

            <ul class="timeline">
                <li>
                    <div class="timeline-badge"><i class="glyphicon glyphicon-check"></i></div>
                    <div class="timeline-panel">
                        <div class="timeline-heading">
                            <h4 class="timeline-title">TRUST</h4>

                        </div>
                        <div class="timeline-body">
                            <p>You’re joining highly reputable brand and top quality platform trusted by thousands since 2017.</p>
                        </div>
                    </div>
                </li>
                <li class="timeline-inverted">
                    <div class="timeline-badge danger"><i class="glyphicon glyphicon-credit-card"></i></div>
                    <div class="timeline-panel">
                        <div class="timeline-heading">
                            <h4 class="timeline-title">MARKET VETERANS</h4>
                        </div>
                        <div class="timeline-body">
                            <p>Access one of the oldest crypto educational platforms and learn from proficients to trade successfully through bull and bear markets.</p>

                        </div>
                    </div>
                </li>
                <li>
                    <div class="timeline-badge info"><i class="glyphicon glyphicon-credit-card"></i></div>
                    <div class="timeline-panel">
                        <div class="timeline-heading">
                            <h4 class="timeline-title">TRANSPARENCY</h4>
                        </div>
                        <div class="timeline-body">
                            <p>You’ll get honest truth and transparent results.</p>
                        </div>
                    </div>
                </li>
                <li class="timeline-inverted">
                    <div class="timeline-badge"><i class="glyphicon glyphicon-credit-card"></i></div>

                    <div class="timeline-panel">
                        <div class="timeline-heading">
                            <h4 class="timeline-title">MASTER EVERY MARKET</h4>
                        </div>
                        <div class="timeline-body">
                            <p>Crypto, forex, commodities, indexes, stocks, spot, futures, options, perpetuals, CFDs. Yes, we’ll teach you to trade ALL of it.</p>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="timeline-badge danger"><i class="glyphicon glyphicon-floppy-disk"></i></div>
                    <div class="timeline-panel">
                        <div class="timeline-heading">
                            <h4 class="timeline-title">FEAR IS YOUR ENEMY</h4>
                        </div>
                        <div class="timeline-body">
                            <p>Learn to control it on your sessions with trading psychologists.</p>


                        </div>
                    </div>
                </li>

                <li class="timeline-inverted">
                    <div class="timeline-badge info"><i class="glyphicon glyphicon-thumbs-up"></i></div>
                    <div class="timeline-panel">
                        <div class="timeline-heading">
                            <h4 class="timeline-title">EAT THE COOKIE. HAVE THE COOKIE</h4>

                        </div>
                        <div class="timeline-body">
                            <p>We’ll give you the fish and teach you to fish.</p>

                        </div>
                    </div>
                </li>

                <li>
                    <div class="timeline-badge "><i class="glyphicon glyphicon-thumbs-up"></i></div>
                    <div class="timeline-panel">
                        <div class="timeline-heading">
                            <h4 class="timeline-title">NO-HATE ENVIRONMENT</h4>

                        </div>
                        <div class="timeline-body">
                            <p>No bad vibes. No negativity. We care to make you feel like home and let you grow faster.</p>

                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </section>

    <!-- FOOTER -->

    <footer class="d-flex align-items-center justify-content-center">
        <p class="text-center">&copy; Copyright | Project X </p>
    </footer>



    <%- include("./partials/footer.ejs") %>