<%- include("./partials/header.ejs") %>

    <!-- Presentation Section -->

    <section id="intsec" data-aos="fade-down">
        <div class="container text-center">
            <h4 class="mt-4 color-text">Finansal Danışmanlık ve Trading Eğitimi​</h4>
            <p class="mt-4">Finansal yatırım portföyü oluşturmak, yatırım kararları esnasında riski yönetmek, çeşitli borsalarda temel ve teknik analiz eğitimleri gibi birçok konuda danışmanlık hizmeti vermekteyiz</p>
            <img class="mt-4 mw-100" src="/images/1000x400.jpg" alt="">
        </div>




    </section>

    <section id="psl" data-aos="fade-up">
        <div class="container">
            <div class="row d-flex justify-content-center">

                <div class="col-md-5 border-fancy mt-4">
                    <img class="mw-100" src="images/5002.png" alt="">
                </div>

                <div class="col-md-7 mt-4 mb-4 text-center">

                    <div>
                        <h3 class="color-text-header">Tecrübeli Analist Takımı</h3>
                        <p class="mt-4 ">Tecrübeli piyasa uzmanlarımız sizlere tasarruflarınızı en iyi şekilde değerlendirmeniz konusunda destek olacak.</p>
                    </div>

                    <div>
                        <h4 class="color-text-header">Herkese Göre Yatırım</h4>
                        <p class="mt-4 ">Alabileceğiniz risk oranına uygun, getirisi en yüksek yatırım aracını seçmenize yardımcı olmanın yanında isterseniz riski nasıl yöneteceğinize dair eğitimler sunuyoruz.</p>
                    </div>
                    <div>
                        <h4 class="color-text-header">En İyi Yatırım Önerileri</h4>
                        <p class="mt-4 ">Birebir strateji toplantılarında borsa hakkında bilgiler edinip, bitcoin'in fiyatının neden değiştiğini öğrenebilir veya varlık ve risk yönetimini öğrenip kişiselleştirilmiş yatırım sisteminizi kurabilirsiniz.</p>
                    </div>




                </div>


            </div>

        </div>
    </section>

    <!-- Presentation Section -->

    <section id="psr" data-aos="fade-up">
        <div class="container">
            <div class="row d-flex justify-content-center ">

                <div class="col-md-7 mt-4 mb-4 text-center">


                    <div>
                        <h4 class="color-text-header">Tasaruflarınızda Zarara Girmeyiniz</h4>
                        <p class="mt-4 ">Tecrübesiz yatırımcıların tasarruflarının zarara girmesinin en büyük sebepleri piyasanın tuzaklarla, sahte sinyallerle ve bunaltıcı belirsizliklerle dolu olmasıdır. Danışmanlık hizmetimizle zararlarınızı en aza indirmekle kalmıyor,
                            yatırımlarınızı kara geçirmeyi hedefliyoruz.</p>
                    </div>


                    <div>
                        <h3 class="color-text-header">Onaylanmış Stratejiler</h3>
                        <p class="mt-4 ">Danışmanlıklarımızı ve eğitimlerimizi sadece dünyaca ünlü ekonomistlerin onaylanmış stratejileri ışığında sağlıyoruz. Böylece yatırımlarınızda en güvenilir ve en verimli sonucu almanızı sağlıyoruz.</p>
                    </div>
                    <div>
                        <h4 class="color-text-header">Uzun Vade Danışmanlık</h4>
                        <p class="mt-4 ">Uzun vadeli yatırımcılar için en uygun yatırım araçlarını buluyor, tasarruflarınızın değer kaybetmemesi için danışmanlık hizmeti sunuyoruz.</p>
                    </div>



                </div>

                <div class="col-md-5 border-fancy mt-4 mb-4">
                    <img class="mw-100" src="/images/5001.png" width="500" height="500" alt="">
                </div>

            </div>

        </div>
    </section>
    <!-- Speaking Section -->

    <section id="ss" data-aos="zoom-in">
        <div class="container text-center">
            <p class="color-text-shadow font-weight-bold" style="font-size: 38px">"THE BEST INVESTMENT YOU CAN MAKE,</p>
            <p class="color-text-shadow font-weight-bold" style="font-size: 38px">IS AN INVESTMENT IN YOURSELF.</p>
            <p class="color-text-shadow font-weight-bold" style="font-size: 38px">THE MORE YOU LEARN,</p>
            <p class="color-text-shadow font-weight-bold" style="font-size: 38px">THE MORE YOU'LL EARN."</p>
            <p class="color-text-shadow" style="font-size: 25px">~ WARREN BUFFETT ~</p>
        </div>





    </section>


    <!-- Program Description Section -->

    <section id="pds">
        <div class="container ">
            <h2 class="color-text text-center">Tekniz Analiz Programı</h2>
            <div class="row d-flex flex-row">

                <div class="col-md-6 mt-2">


                    <div class="d-flex">

                        <img class="mw-100 align-item-top mr-2" width="100" height="100" src="/images/icon1.png" alt="">
                        <ul class="list-group">
                            <li>
                                <h4 class="text-center">Introduction</h4>
                            </li>
                            <li class="list-group-item">What is Technical Analysis</li>
                            <li class="list-group-item">Candlestick Charts</li>
                            <li class="list-group-item">Timeframe</li>
                            <li class="list-group-item">Volume</li>
                            <li class="list-group-item">What moves a Price?</li>
                        </ul>
                    </div>


                </div>
                <div class="col-md-6 mt-2">


                    <div class="d-flex">

                        <img class="mw-100 align-item-top mr-2" width="100" height="100" src="/images/icon1.png" alt="">
                        <ul class="list-group">
                            <li>
                                <h4 class="text-center">Introduction</h4>
                            </li>
                            <li class="list-group-item">What is Technical Analysis</li>
                            <li class="list-group-item">Candlestick Charts</li>
                            <li class="list-group-item">Timeframe</li>
                            <li class="list-group-item">Volume</li>
                            <li class="list-group-item">What moves a Price?</li>
                        </ul>
                    </div>


                </div>




            </div>



        </div>


    </section>






    <%- include("./partials/footer.ejs") %>