<%- include("./partials/header.ejs") %>

    <!-- Presentation Section -->

    <section id="intsec" data-aos="fade-down" class="bg-color-secondary">
        <div class="container mt-4 ">
            <div class="header-box">
                <h4 class="mt-50 color-text text-center">Financial Consulting and Education for Traders</h4>
                <p class="mt-50 text-center text-white lead">We provide consultancy on many subjects such as creating a financial investment portfolio, managing risk during investment decisions, fundamental and technical analysis educations in various stock markets.</p>
                <a href="https://google.com" class="btn-grad">Join Discord Now &nbsp;<i class=" fab fa-discord text-white " style="font-size: 25px; "></i></a>

            </div>
        </div>




    </section>

    <section id="psl " data-aos="fade-up ">
        <div class="container ">
            <div class="row d-flex justify-content-center ">

                <div class="col-md-5 mt-4 ">
                    <img class="mw-100 " src="images/5005.png " alt=" ">
                </div>

                <div class="col-md-7 mt-4 mb-4 text-center ">

                    <div>
                        <h3 class="color-text-header ">Experienced Analyst Team</h3>
                        <p class="mt-4 ">Our experienced market experts will support you about making decisions about your savings</p>
                    </div>

                    <div>
                        <h4 class="color-text-header ">We Are Your Guidance</h4>
                        <p class="mt-4 ">We provide consultancy to eliminate the financial uncertainties in front of any newly established or already maintained company or startup.</p>
                    </div>
                    <div>
                        <h4 class="color-text-header ">Company or Personal Consulting</h4>
                        <p class="mt-4 ">We identify the elements the rate of financial loss in your company or personally, and help you to draw the roadmap you need to make profit.</p>
                    </div>




                </div>


            </div>

        </div>

    </section>




    <!-- Presentation Section -->

    <section id="psr " data-aos="fade-up ">
        <div class="container ">
            <div class="row d-flex justify-content-center ">

                <div class="col-md-7 mt-4 mb-4 text-center ">


                    <div>
                        <h4 class="color-text-header ">Do Not Lose Your Savings</h4>
                        <p class="mt-4 ">The biggest reasons inexperienced investors lose their savings are because the market is full of traps, fake signals and uncertainty. With our consultancy service, we not only minimize your losses, but also aim to turn your investments
                            into profit.</p>
                    </div>


                    <div>
                        <h3 class="color-text-header ">Approved Strategies</h3>
                        <p class="mt-4 ">We provide our consultancy and education only with the approved strategies of world-renowned economists. Thus, we ensure that you get the most reliable and efficient results in your investments.</p>
                    </div>
                    <div>
                        <h4 class="color-text-header ">Best Investment Advice</h4>
                        <p class="mt-4 ">In one-on-one strategy meetings, you can learn about the stock market, asset and risk management and set up your personalized investment system.</p>
                    </div>



                </div>

                <div class="col-md-5  mt-4 mb-4 ">
                    <img class="mw-100 " src="/images/5004.png " width="500 " height="500 " alt=" ">
                </div>

            </div>

        </div>
    </section>
    <!-- Speaking Section -->

    <section id="ss " data-aos="zoom-in ">
        <div class="container text-center ">
            <p class="color-text-shadow font-weight-bold " style="font-size: 38px ">"THE BEST INVESTMENT YOU CAN MAKE,</p>
            <p class="color-text-shadow font-weight-bold" style="font-size: 38px">IS AN INVESTMENT IN YOURSELF.</p>
            <p class="color-text-shadow font-weight-bold" style="font-size: 38px">THE MORE YOU LEARN,</p>
            <p class="color-text-shadow font-weight-bold" style="font-size: 38px">THE MORE YOU'LL EARN."</p>
            <p class="color-text-shadow" style="font-size: 25px">~ WARREN BUFFETT ~</p>
        </div>





    </section>


    <!-- Program Description Section -->

    <section id="pds">

        <div class="container ">
            <h2 class="color-text text-center display-4" style="font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif">Technical Analysis Program</h2>
            <div class="row d-flex flex-row">

                <div class="col-md-6 mt-50">


                    <div class="d-flex">

                        <img class="mw-100 align-item-top mr-2" width="100" height="100" src="/images/icon1.png" alt="">
                        <ul class="list-group">
                            <li>
                                <h4 class="text-center">Introduction</h4>
                            </li>
                            <li class="list-group-item">What is Technical Analysis
                            </li>
                            <li class="list-group-item">Candlestick Charts
                            </li>
                            <li class="list-group-item">Timeframe</li>
                            <li class="list-group-item">Volume</li>
                            <li class="list-group-item">What moves a Price?</li>
                        </ul>
                    </div>


                </div>
                <div class="col-md-6 mt-50">


                    <div class="d-flex">

                        <img class="mw-100 align-item-top mr-2" width="100" height="100" src="/images/icon2.png" alt="">
                        <ul class="list-group">
                            <li>
                                <h4 class="text-center">Market Cycle</h4>
                            </li>
                            <li class="list-group-item">Trending and Ranging Market
                            </li>
                            <li class="list-group-item">Consolidation Phase
                            </li>
                            <li class="list-group-item">Identifyting Time Range
                            </li>
                        </ul>
                    </div>


                </div>
                <div class="col-md-6 mt-50">


                    <div class="d-flex">

                        <img class="mw-100 align-item-top mr-2" width="100" height="100" src="/images/icon3.png" alt="">
                        <ul class="list-group">
                            <li>
                                <h4 class="text-center">Indicators</h4>
                            </li>
                            <li class="list-group-item">Moving Averages
                            </li>
                            <li class="list-group-item">Oscillators</li>
                            <li class="list-group-item">MACD</li>
                            <li class="list-group-item">RSI</li>
                            <li class="list-group-item">When and where to use the Indicators</li>
                        </ul>
                    </div>


                </div>
                <div class="col-md-6 mt-50">


                    <div class="d-flex">

                        <img class="mw-100 align-item-top mr-2" width="100" height="100" src="/images/icon4.png" alt="">
                        <ul class="list-group">
                            <li>
                                <h4 class="text-center">Price Action
                                </h4>
                            </li>
                            <li class="list-group-item ">Trendline
                            </li>
                            <li class="list-group-item">Support Resistance</li>
                            <li class="list-group-item">Supply Demand Zones
                            </li>
                            <li class="list-group-item">Breakouts</li>
                            <li class="list-group-item">Doji</li>
                            <li class="list-group-item">Morning and Evening Star
                            </li>
                            <li class="list-group-item">Reversal and Continuation Patterns
                            </li>
                        </ul>
                    </div>


                </div>
                <div class="col-md-6 mt-50">


                    <div class="d-flex">

                        <img class="mw-100 align-item-top mr-2" width="100" height="100" src="/images/icon5.png" alt="">
                        <ul class="list-group">
                            <li>
                                <h4 class="text-center">Advanced Technical Analysis
                                </h4>
                            </li>
                            <li class="list-group-item">Multi Timeframe Analysis</li>
                            <li class="list-group-item">How to add Confluence</li>
                            <li class="list-group-item">Fibonacci Retracement</li>
                            <li class="list-group-item">Divergence</li>
                            <li class="list-group-item">High Probability Filters</li>
                        </ul>
                    </div>


                </div>
                <div class="col-md-6 mt-50">


                    <div class="d-flex">

                        <img class="mw-100 align-item-top mr-2" width="100" height="100" src="/images/icon6.png" alt="">
                        <ul class="list-group">
                            <li>
                                <h4 class="text-center">Market Psychology
                                </h4>
                            </li>
                            <li class="list-group-item">Expectancy Rate
                            </li>
                            <li class="list-group-item">Mindset
                            </li>
                            <li class="list-group-item">Risk Management
                            </li>
                            <li class="list-group-item">How to Set Better Stoploss</li>
                        </ul>
                    </div>


                </div>
            </div>



        </div>


    </section>






    <%- include("./partials/footer.ejs") %>