<%- include('./partials/header.ejs') %>

    <div class="container text-center mt-100">
        <form action="/signin" method="POST">
            <div class="form-group">
                <label for="username" style="width: 100px;" class="">Username : </label>
                <input type="text" name="username" style="color:black;" />
            </div>
            <div class="form-group">
                <label for="password" style="width: 100px;">Password : </label>
                <input class="form-group" type="password" name="password" style="color:black;" />
            </div>
            <div class="from-group">
                <button type="submit" class="btn btn-dark btn-block">Log In</button>
            </div>
        </form>
    </div>




    <%- include('./partials/footer.ejs') %>