<%- include('./partials/header.ejs') %>




    <script type="text/javascript" src="https://d33t3vvu2t2yu5.cloudfront.net/tv.js"></script>

    <section id="termsofservice">
        <div class="container mt-4">

            <div id="accordion">
                <div class="card">
                    <div class="card-header" id="headingOne">
                        <h5 class="mb-0">
                            <button class="btn btn-dark btn-block text-center collapsed" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        Hizmet Koşulları
                      </button>
                        </h5>
                    </div>

                    <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
                        <div class="card-body">
                            <ul>
                                <li>
                                    <p> Bayford Analytics müşterisi olarak kullanım sözleşmesi hükümlerine uymayı kabul ve taahhüt etmeniz gereklidir. Müşteri, Bayford Analytics hizmetlerini kullanmaya başladığı andan itibaren kullanım sözleşmesine uymayı
                                        taahhüt etmiş kabul edilir.</p>
                                </li>
                                <li>
                                    <p> Bayford Analytics kapsamındaki gerek sözel gerekse de grafik bilgiler ulaşılabilen ilk kaynaklardan iyi niyetle ve doğruluğu, geçerliliği, etkinliği velhasıl her ne şekil ve surette olursa olsun herhangi bir karar dayanak
                                        oluşturması hususunda herhangi bir teminat, garanti oluşturmadan yalnızca bilgi edinilmesi amacıyla toplanmıştır.</p>
                                </li>
                                <li>
                                    <p> Bayford Analytics kurucusu Yavuz Akbay her an hiçbir şekil ve surette ön ihbara ve/veya ihtara gerek kalmaksızın söz konusu bilgileri değiştirebilir ve/veya ortadan kaldırabilir. Genel anlamda bilgi vermek amacıyla
                                        hazırlanmış olan işbu servis kapsamı bilgiler hiçbir şekil ve surette Yavuz Akbay’ın herhangi bir taahhüdünü tazammun etmediğinden, bu bilgilere istinaden her türlü özel ve/veya tüzel kişiler tarafından alınacak
                                        kararlar, varılacak sonuçlar ve oluşabilecek her türlü riskler bizatihi bu kişilere ait olacaktır. Hiçbir şekil ve surette ve her ne nam altında olursa olsun, her türlü gerçek ve/veya tüzel kişinin gerek doğrudan
                                        gerek dolayısı ile uğrayacağı maddi ve/veya manevi zararı, kâr mahrumiyeti, velhasıl her ne nam altında olursa olsun uğrayabileceği zararlardan hiçbir şekil ve surette Yavuz Akbay sorumlu tutulamayacaktır.</p>
                                </li>
                                <li>
                                    <p> Bu hizmetleri alarak oluşacak her türlü maddi ve manevi zarardan ilgili şahısların mesuliyeti bulunur ve bundan dolayı hiçbir surette Bayford Analytics kurucusu Yavuz Akbay yasal sorumluluk kabul etmemektedir.</p>
                                </li>
                                <li>
                                    <p> Bayford Analytics olarak sağladığımız danışmanlıkların amacı stratejik finansal çözümler geliştirmektir. Verdiğimiz eğitimlerin öncelikli amacı ise müşterilerimizi finansal piyasalar hakkında bilgilendirerek piyasalarda
                                        yapacakları alım-satım işlemlerindeki hataları ve zararları en aza indirerek, karlılıklarını mümkün olan en üst noktaya taşımaktır. Stratejik olarak belirlediğimiz bu finansal çözümleri uygulamak veya verdiğimiz
                                        eğitimlerde öğrendiğiniz bilgileri uygulamak tamamen sizin sorumluluğunuzdadır, uygulayıp uygulamama konusunda Bayford Analytics kurucusu Yavuz Akbay sorumlu tutulamaz. </p>
                                </li>
                                <li>
                                    <p> Müşteri bu sözleşmede Bayford Analytics’in verdiği danışmanlık ve eğitimlerin hiçbiri yatırım tavsiyesi içermemekte olduğunu ve yatırım kararlarını bizzat müşterinin kendisinin alacağını taahhüt etmiş kabul edilir.
                                    </p>
                                </li>
                                <li>
                                    <p> Kriptopara, borsalar ve vadeli işlemler çok riskli yatırım işlemleridir. Bu işlemler esnasında müşterinin parasını tamamen kaybetme olasılığı bulunmaktadır. Müşterinin aldığı danışmanlık hizmeti veya eğitimlerde öğrendiği
                                        bilgileri uygulayarak elde ettiği kar veya girdiği zararın sorumluluğu sadece ve sadece müşterinin kendisine aittir. Hiçbir kar veya zarardan Bayford Analytics ve Bayford Analytics kurucusu Yavuz Akbay sorumlu tutulamaz.
                                    </p>
                                </li>
                                <li>
                                    <p> Bayford Analytics, fiyatlar ve sunulan ürün ve hizmetler üzerinde değişiklik yapma hakkını her zaman saklı tutar.</p>
                                </li>
                                <li>
                                    <p> Müşteri, Bayford Analytics sitesinin kullanımında tersine mühendislik yapmayacağını ya da bunların kaynak kodunu bulmak veya elde etmek amacına yönelik herhangi bir başka işlemde bulunmayacağını aksi halde ve 3. Kişiler
                                        nezdinde doğacak zararlardan sorumlu olacağını, hakkında hukuki ve cezai işlem yapılacağını peşinen kabul eder.</p>
                                </li>
                                <li>
                                    <p> İşbu Bayford Analytics sitesinde yer alan ünvan, işletme adı, marka, patent, logo, tasarım, bilgi ve yöntem gibi tescilli veya tescilsiz tüm fikri mülkiyet hakları Bayford Analytics veya Bayford Analytics kurucusu Yavuz
                                        Akbay’a ait olup, ulusal ve uluslararası hukukun koruması altındadır. İşbu Site’nin ziyaret edilmesi veya bu Site ’deki hizmetlerden yararlanılması söz konusu fikri mülkiyet hakları konusunda hiçbir hak vermez.</p>
                                </li>
                                <li>
                                    <p> Bayford Analytics sitesinde yer alan, Bayford Analytics danışmanlıklarından veya Bayford Analytics eğitimlerinden edinilen bilgiler hiçbir şekilde çoğaltılamaz, yayınlanamaz, kopyalanamaz, sunulamaz ve/veya aktarılamaz.
                                        Bayford Analytics sitesinin bütünü veya bir kısmı diğer bir internet sitesinde izinsiz olarak kullanılamaz.</p>
                                </li>
                                <li>
                                    <p> Bayford Analytics, site üzerinden müşterilerin ilettiği kişisel bilgileri 3. Kişilere açıklamayacaktır. Bu kişisel bilgiler; kişi adı-soyadı, adresi, telefon numarası, cep telefonu, e-posta adresi gibi müşteriyi tanımlamaya
                                        yönelik her türlü diğer bilgiyi içermekte olup, kısaca ‘Gizli Bilgiler’ olarak anılacaktır.</p>
                                </li>
                                <li>
                                    <p> Gizli Bilgiler, ancak resmi makamlarca usulü dairesinde bu bilgilerin talep edilmesi halinde ve yürürlükteki emredici mevzuat hükümleri gereğince resmi makamlara açıklama yapılmasının zorunlu olduğu durumlarda resmi
                                        makamlara açıklanabilecektir.
                                    </p>
                                </li>
                                <li>
                                    <p> İşbu sözleşme şartlarından biri, kısmen veya tamamen geçersiz hale gelirse, sözleşmenin geri kalanı geçerliliğini korumaya devam eder.</p>
                                </li>
                                <li>
                                    <p> Bayford Analytics, dilediği zaman sitede sunulan hizmetleri ve işbu sözleşme şartlarını kısmen veya tamamen değiştirebilir. Değişiklikler sitede yayınlandığı tarihten itibaren geçerli olacaktır. Değişiklikleri takip
                                        etmek müşterilerin sorumluluğundadır. Müşteri, sunulan hizmetlerden yararlanmaya devam etmekle bu değişiklikleri de kabul etmiş sayılır.</p>
                                </li>
                            </ul>

                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header" id="headingTwo">
                        <h5 class="mb-0">
                            <button class="btn btn-dark btn-block text-center collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                        Terms Of Service
                      </button>
                        </h5>
                    </div>
                    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                        <div class="card-body">
                            <ul>
                                <li>
                                    <p> As a Bayford Analytics customer, you must agree and undertake to abide by the terms of the usage agreement. The customer is deemed to have committed to comply with the terms of use from the moment he/she starts using
                                        Fermi Finance consulting or educating services.</p>
                                </li>
                                <li>
                                    <p> The persons concerned are liable for any material and moral damages that may occur by receiving these services, and therefore, Bayford Analytics founder Yavuz Akbay does not accept legal responsibility under any circumstances.
                                    </p>
                                </li>
                                <li>
                                    <p> The purpose of the consultancy we provide as Bayford Analytics is to develop strategic financial solutions. The primary purpose of the consultancy and education we provide is to inform our customers about the financial
                                        markets, to reduce the mistakes and losses in their buy and sell transactions in the markets, and to maximize their profitability. It is entirely your responsibility to implement these strategically determined financial
                                        solutions or to apply the knowledge you have learned in the trainings we provide; Bayford Analytics founder Yavuz Akbay cannot be held responsible for whether or not to implement them.</p>
                                </li>
                                <li>
                                    <p> In this contract, the customer is deemed to have committed that none of the consultancy and training provided by Bayford Analytics include investment advice and that the customer will personally take the investment
                                        decisions.
                                    </p>
                                </li>
                                <li>
                                    <p> Cryptocurrency, stock markets and futures are very risky investment transactions. During these transactions, there is a possibility of losing the customer's money completely. The responsibility of the profit or loss
                                        incurred by the customer by applying the information learned in the consultancy services or trainings he receives belongs solely to the customer. Bayford Analytics and Bayford Analytics founder Yavuz Akbay cannot
                                        be held responsible for any profit or loss. </p>
                                </li>
                                <li>
                                    <p> Bayford Analytics reserves the right to make changes in prices and the products and services offered at any time.
                                    </p>
                                </li>
                                <li>
                                    <p> The customer agrees in advance that he will not reverse engineer the use of the Bayford Analytics site or take any other action to find or obtain the source code of them, otherwise he will be liable for the damages
                                        that may arise before the third parties, and that legal and penal action will be taken against him.
                                    </p>
                                </li>
                                <li>
                                    <p> All proprietary or unregistered intellectual property rights such as title, business name, trademark, patent, logo, design, information and method in this Bayford Analytics site belong to Bayford Analytics or Bayford
                                        Analytics founder Yavuz Akbay and are under the protection of national and international law. Visiting this Site or using the services on this Site does not grant any right to such intellectual property rights.</p>
                                </li>
                                <li>
                                    <p> Information on Bayford Analytics website, obtained from Bayford Analytics consultancy or Bayford Analytics educations, cannot be reproduced, published, copied, presented and/or transferred in any way. The whole or part
                                        of the Fermi Finance site cannot be used on another website without permission.</p>
                                </li>
                                <li>
                                    <p> Bayford Analytics will not disclose personal information transmitted by customers through the site to third parties. This personal information; It contains all kinds of other information to identify the customer, such
                                        as name-surname, address, telephone number, mobile phone, e-mail address, and will be referred to as "Confidential Information" for short</p>
                                </li>
                                <li>
                                    <p> Confidential Information can only be disclosed to official authorities if this information is duly requested by official authorities and when disclosure to official authorities is obligatory in accordance with the provisions
                                        of the applicable mandatory legislation.</p>
                                </li>
                                <li>
                                    <p> If one of the terms of this contract becomes partially or completely invalid, the rest of the contract remains valid.</p>
                                </li>

                                <li>
                                    <p> Bayford Analytics may change the services offered on the site and the terms of this contract, in whole or in part, at any time. Changes will be effective from the date of publication on the site. It is the customers'
                                        responsibility to keep track of changes. By continuing to benefit from the services offered, the customer is deemed to have accepted these changes.</p>
                                </li>

                            </ul>
                        </div>
                    </div>
                </div>

            </div>

        </div>







        </div>

    </section>



    <%- include('./partials/footer.ejs') %>