* {
    color: white;
}

.color-primary {
    color: #14FFEC!important;
}

.bg-color-primary {
    background-color: #14FFEC;
}

.color-secondary {
    color: #323232;
}

.bg-color-secondary {
    background-color: #323232;
}

.color-text-header {
    color: #F05454;
}

.color-text {
    color: #0D7377;
}

.color-text-shadow {
    color: #0D7377;
    text-shadow: 1px 1px 2px white, 0 0 25px white, 0 0 3px white;
}


/* For Some Thing #0D7377 */