* {
    color: #222831;
}

body {
    background-color: #EEEEEE;
}

.color-primary {
    color: #00ADB5!important;
}

.bg-color-primary {
    background-color: #00ADB5;
}

.bg-color-transparent {
    background-color: transparent;
}

.color-secondary {
    color: #222831;
}

.bg-color-secondary {
    background-color: #222831;
}

.color-text-header {
    color: #00ADB5;
}

.color-text {
    color: #00ADB5;
}

.color-text-shadow {
    color: #222831;
    text-shadow: 1px 1px 2px #00ADB5, 0 0 25px #00ADB5;
}


/* For Some Thing #0D7377 */