* {
    font-family: 'Montserrat', sans-serif;
}

h3 {
    font-size: 24px;
}

ul {
    list-style-type: none;
}

.navbar-brand {
    color: white;
    font-weight: bold;
    letter-spacing: 2px;
}

.nav-item {
    font-size: 15px;
    font-weight: 500;
}

.nav-link {
    color: #14FFEC;
    letter-spacing: 1px;
    border: 2px solid transparent;
    transition: 0.3s ease-out;
    margin-left: 5px;
}

.nav-link:hover {
    border-bottom-color: #0D7377;
    color: white;
}

#intsec {
    margin-top: 0px!important;
    margin-bottom: 0px;
    background-image: url("/images/header-background2.jpg");
    background-repeat: no-repeat;
    background-position: center;
    height: 625px;
}

.header-box {
    max-width: 600px;
    padding-top: 8rem;
}

.btn-grad {
    background-image: linear-gradient(to right, #314755 0%, #00ADB5 51%, #314755 100%)
}

.btn-grad {
    margin: 50px 10px 10px 10px;
    padding: 15px 45px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;
    display: block;
}

.btn-grad:hover {
    background-position: right center;
    /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
}

footer {
    margin-top: 5%;
    width: 100%;
    padding: 0.6rem;
    color: white;
    font-size: 17px;
}

section {
    margin-top: 100px;
}

.chartContainer {
    max-width: 980px;
    height: 400px;
    margin: 0 auto;
}

.mt-100 {
    margin-top: 100px;
}

.mt-50 {
    margin-top: 50px;
}

.list-group-item {
    border-radius: 5px;
    border-color: #00ADB5;
    width: 250px;
}

li {
    margin-top: 5px;
}

.carousel-caption {
    background-color: rgba(0, 0, 5, 0.5);
}

.border-fancy {
    border-radius: 10px;
    box-shadow: 3px 6px 6px #00ADB5;
    background-color: #222831;
}


/* scroll down effect */

@media (max-width: 640px) {
    html {
        margin-top: 50px;
    }
    .fr {
        flex-direction: row-reverse;
    }
    .border-fancy {
        border: none;
        box-shadow: none;
        background-color: #EEEEEE;
    }
    .list-group-item {
        width: 220px;
    }
    #intsec {
        margin-top: 30px!important;
        padding: 0rem;
        height: 450px;
        background-image: none;
    }
    .header-box {
        padding-top: 0rem;
    }
    section {
        margin-top: 70px;
    }
}